.section1{

  height: 800px;
  margin: 70px 0;
  @include flexed-centered;

  .sect1-wrap{
    width: 70%;
    display: flex;

    .img{
      @include flexed-centered;
    }
    img{
      width: 100%;
    }

    h1{
      font-weight: bold;
      margin: 30px 0;
      line-height: 150%;
      font-size: 50px;
    }
    p{
      margin: 40px 0;
    }
    a{
      @include anchor;
    }
    .btns-wrap{
      display: flex;

    }
    span{
      color: grey;
      padding: 10px;
    }

    button{
      @include signin-button;

    }
  }

}


@media only screen and (max-width: 1200px) {
  .sect1-wrap{
    display: flex;
    flex-direction: column;
    text-align: center;

    .btns-wrap{
      @include flexed-centered;

    }
  }
}
.section2{
  height: 2000px;
  background: #FFE7D2;
  text-align: center;
  @include flexed-centered;

  .sect2-wrap{
    width: 80%;
    @include flexed-centered;
    flex-direction: column;

    hr{
      width: 100%;
    }
    h2{
      font-size: 26px;
      font-weight: bold;
      margin: 60px 0;
      width: 70%;

    }
    .img-wrapper{
      display: flex;
      justify-content: space-around;
      margin: 50px 0;
      width: 100%;

      img{
        width: 140px;
        height: 105px;
      }

      .img-small{
        width: 60px;
      }
    }

    img{
      width: 280px;
      height: 320px;
      margin: 40px;

    }
  }

}

@media only screen and (max-width:750px) {

  .section2{
    height: 3000px;

    .img-wrapper{
      display: flex;
      flex-direction: column;
    }
  }
}


.section3{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 700px;

  .side-right{
    text-align: right;
  }

  .side-img{

    width: 55%;
    img{
      width: 700px;
      height: 440px;

    }
  }


  .sect3-wrap{
    width: 40%;
    padding: 30px;

    img{
      width: 270px;
      height: 200px;
      margin: 40px 0;
    }

    h3{
      font-size: 26px;
      padding-bottom: 15px;
    }

    a{
      @include anchor;
      margin: 30px 0;
      display: block;
    }
  }
}

@media only screen and (max-width:1200px) {

  .section3{
    .side-img{

      width: 60%;
      img{
        width: 100%;
        height: auto;

      }
    }
  }
}

@media only screen and (max-width:800px) {
  .section3{
    flex-direction: column;
    justify-content: space-around;
    height: 1200px;

    .sect3-wrap{
      text-align: center;
      width: 80%;

      img{
        width: 100%;
        height: auto;
      }
      h3{

        margin-bottom: 25px;
      }
    }
    .side-img{
      width: 100%;
      text-align: center;
      img{
        width: 90%;
        height: auto;

      }
    }
  }

}
.section4{

  color: #58402c;
  background: #FFE7D2;
  height: 850px;
  @include flexed-centered;
  flex-direction: column;

  h5{
    font-size: 40px;
    font-weight: bold;
    margin: 30px;
    width: 50%;
    text-align: center;
  }

  .box-cit{
    background: white;
    width: 50%;
    position: relative;
    border: 1px solid darkgrey;
    border-radius: 10px;
    padding: 30px;
    margin: 30px;
    >img{
      width: 37px;
      height: auto;
      position: absolute;
      top: -20px;
      left: 0;
    }

    .box-footer{

      img{
        border-radius: 50%;
        width: 38px;
      }

    }

  }

  .buttons-wrapper{

    width: 350px;
    display: flex;
    
    button{
      @include signin-button;
    }
    span{
      color: grey;
      padding: 10px;
    }
    a{
      @include anchor;
    }
  }


}
